# Python cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environment
.env
!.env.example
.venv
env/
venv/
ENV/

# Jupyter notebooks
*.ipynb

# Output logs
*.log

# Datasets and models
data/
checkpoints/
*.pt
*.pth

# System files
.DS_Store
Thumbs.db

# Node modules
node_modules/


