# Core ML libraries
torch>=2.0
torchvision
transformers
scikit-learn
numpy

# Image processing
Pillow
opencv-python
openai

# Plotting & analysis
matplotlib
seaborn

# Utility
tqdm
requests
python-dotenv

# Notebook support (optional)
notebook

# Backend
fastapi
uvicorn
python-multipart